.topBlueBar,
.botBlueBar,
.sapTntToolPageHeader {
	background-color: #1d2d3e !important;
	color: white !important;
	border-radius: 0px !important;
}

.botBlueBar {
	height: 50px !important;
}
.sapTntToolPage {
	padding: 0px !important;
}
.sapMSFSSI {
	display: none !important;
}

.whiteText {
	color: white !important;
}
.whiteIcon .sapMBtnIcon {
	color: white !important;
}
.h40px {
	height: 90px !important;
}
/* QUITAR COMENTADO QUITAR COMENTADO QUITAR COMENTADO QUITAR COMENTADO

#__component0---main--page-cont{
	overflow: hidden !important;
}  

QUITAR COMENTADO QUITAR COMENTADO QUITAR COMENTADO QUITAR COMENTADO*/
.roundedButton > span {
	border-radius: 20px;
	background-color: rgb(255, 255, 255) !important;
	border: 0.0625rem solid #bcc3ca !important;
	padding-left: 14px !important;
	padding-right: 14px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	transition: background-color 0.1s ease;
}

.roundedButton:hover > span {
	background-color: #ebf5fe !important;
}

.PackageControlTitle,
.whiteText {
	font-size: 28px !important;
}
@media only screen and (max-width: 600px) {
	.PackageControlTitle,
	.whiteText {
		font-size: 20px !important;
	}
}

.secondBar {
	height: 4rem !important;
	display: flex !important;
	justify-content: space-between !important;
	align-items: center !important;
	background-color: #f5f6f7 !important;
}

.iconoCentro {
	display: flex !important;
	justify-content: center !important;
}
.GreenPriority {
	color: #6cd331 !important;
}
.red {
	color: red !important;
}
.DetailHeaderFlexbox {
	padding-left: 4rem !important;
	padding-right: 4rem !important;
}

/* .sapMInputBaseInner{
	background-color: #FFFFFF !important;
} */
.Blanco * {
	background-color: #ffffff !important;
}
.sapMInputBaseContentWrapper {
	box-shadow: none !important;
}
.rec1 * {
	margin-left: -2px !important;
}
/* .R {
	background-color: red !important;
} */

.bottom{
	margin-top: 7px!important;

}
.cancelDetailButton {
	position: absolute !important;
	bottom: 20px !important;
	left: 0px !important;
	border-radius: 20px;
	background-color: rgb(255, 255, 255) !important;
	border: 0.15rem solid rgb(212, 0, 0) !important;
	padding-left: 16px !important;
	padding-right: 16px !important;
	padding-top: 1px !important;
	padding-bottom: 1px !important;
	transition: background-color 0.1s ease;
}
.cancelDetailButton > span {
	border: none !important;
	color: rgb(212, 0, 0) !important;
	transition: background-color 0.1s ease;
}
.cancelDetailButton:hover,
.cancelDetailButton:hover * {
	background-color: #ebf5fe !important;
}

.cancelDetailButton:focus * {
	outline: none !important;
	border: none !important;
}
.PackageSummaryDetail {
	padding: 1rem !important;
}
.hiddenTag {
	display: none !important;
}

.sapUxAPObjectPageHeaderDetails,
.sapFDynamicPageTitle,
#__page1-intHeader,
#__page1-cont,
.sapTntToolPageContentWrapper,
.sapFDynamicPageTitle:hover,
#__component0---detail--ObjectPageLayout-opwrapper,
.sapUxAPObjectPageScroll {
	background: #f5f6f7 !important;
}

#__component0---detail--employ1mentSS2 {
	background: white !important;
}
#__page0-main,
#__page1-intHeader,
.sapMPage .sapMPageHeader:not(.sapMIBar-CTX):after {
	box-shadow: none !important;
}
#__title3 {
	color: #0064d9 !important;
}
